.restorePass {
    display: flex;
    justify-content: center;
    min-height: 80vh;
    color: #3b4652;
    text-align: center;

}

.restorePassContain {
    border: 1px solid darkblue;
    width: 413px;
    height: 540px;
    align-self: center;
    border-radius: 25px;
    background-color: white;
    text-align: center;

}
.restorePassContent {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
}

.emailLogo {
    height: 50px;
    width: 50px;
    border-radius: 20px;
    background-color: mediumslateblue;
}

.loader {
    height:80%;
    vertical-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.inputContainer {
    margin-top: 30px;
    margin-bottom: 10px;
}
.buttonContainer {
    margin-top: 80px;
    margin-bottom: 80px;
}
.smallText {
    font-size: small;
}

img {
    margin-top: 30px;
    margin-bottom: 30px;
    width: 108px;
    height: 108px;

}
.email {
    margin-top: 10px;
    font-weight: bold;
    color: darkblue;;
}