
.logo img {

    margin-top: 0;
    margin-bottom: 0;
}

.inputContainer label {
    display: block;
    text-align: left;
    padding-left: 30px;
}
.buttonContainer{
    display: flex;
    margin-top: 40px;
    justify-content: space-between;
    margin-left: 35px;
    margin-right: 35px;
}


.general{
    width: 100%;
    height: 100%;
    position: fixed;
}
.general .window{
    position: fixed;
    width: 413px;
    height: 550px;
    transform: translate(-50%,-50%);
    background-color: white;
    border: 1px solid darkblue;
    border-radius: 30px;
    z-index: 20;
    left: 50%;
    top: 50%;
    display: flex;
    flex-direction: column;

}

.general .background{
    top: 0;
    left: 0;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #3b4652;
    opacity: 0.5;
    z-index: 0;
}
.buttonContainer{
    display: flex;
    margin-top: 40px;
    justify-content: space-around;
}
.buttonContainer button {
    width: 140px;
}
.inputContainer label {
    display: block;
    text-align: left;

}
.general h2 {
    margin-top: 30px;
    margin-bottom: 30px;
}