.general{
    width: 100%;
    height: 100%;
    position: fixed;
}
.general .window{
    position: fixed;
    width: 50%;
    height: 50%;
    transform: translate(-50%,-50%);
    background-color: lightskyblue;
    z-index: 20;
    left: 50%;
    top: 50%;
}

.general .background{
    top: 0px;
    left: 0px;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #3b4652;
    opacity: 0.5;
    z-index: 10;
}