
.container{
    display: inline;
    margin: 0;
}

.container img{
    margin: 0 0 0 5px;
    height: 14px;
    width: 14px;
}

.active{
    filter: invert(50%) sepia(31%) saturate(1005%) hue-rotate(345deg) brightness(90%) contrast(84%);
}