
.container{
    width: 20px;
    display: inline;
    margin: 0;
    cursor: pointer;
}

.container img{
    margin: 0 0 0 0;
    height: 14px;
    width: 14px;
    z-index: 0;
    margin-left: 5px;
}
.active img {
    z-index: 0;
    background-color: white;
    padding: 2px;

}
