.general{
    width: 100%;
    height: 100%;
    position: fixed;
}
.general .window{
    position: fixed;
    width: 413px;
    height: 460px;
    transform: translate(-50%,-50%);
    background-color: white;
    border: 1px solid darkblue;
    border-radius: 30px;
    z-index: 20;
    left: 50%;
    top: 50%;
    display: flex;
    flex-direction: column;

}

.general .background{
    top: 0;
    left: 0;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #3b4652;
    opacity: 0.5;
    z-index: 10;
}
.buttonContainer{
    display: flex;
    margin-top: 60px;
    justify-content: space-around;
}
.buttonContainer button {
    width: 140px;
}
.inputContainer label {
    display: block;
    text-align: left;
   margin-left: 30px;

}
.general h2 {
    margin-top: 40px;
    margin-bottom: 50px;
}