.cardsPage {
    display: flex;
    justify-content: center;
    min-height: 80vh;
    color: #3b4652;
    text-align: center;

}

.cardsContain {
    display: grid;

    border: 1px solid darkblue;
    width: 70%;
    height: 850px;
    align-self: center;
    border-radius: 25px;
    background-color: white;
    text-align: center;

    grid-template-areas:
    "t"
    "s"
    "c"
    "p"
;
    grid-template-rows: 50px 50px 650px 50px;
    grid-gap: 5px;
}
.row{
    display: flex;
    justify-content: space-around;
}

.row:nth-child(2n){
    background-color: #F8F7FD;
}

.row span, .row a{
    flex: 3;
    overflow: hidden;
    height: 30px;
    padding: 10px 0;
    line-height: 30px;
}
.row span:last-child{
    flex: 240px;
}

.buttons{
    text-align: right;
    margin-right: 10px;
}


.cardsTable {
    grid-area: c;
    margin: 5px 20px 5px 20px;
    box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
}
.cardsPagination {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    grid-area: p;
    margin: 5px 20px 5px 50px;
}
.cardsTitle {
    grid-area: t;
    margin: 15px 20px 5px 20px;
    text-align: left;
}
.cardsSearch {
    grid-area: s;
    margin: 5px 20px 5px 20px;
    display: flex;
}

.packName {
    font-size: large;
}
.cardsSearch input {
    width: 100%;
    height: 40px;
}
