.profilePage {
    display: flex;
    position: relative;
    justify-content: center;
    color: #3b4652;
    text-align: center;
    width: 100%;
}

.profileContain {
    display: grid;
    margin-top: 50px;
    border: 1px solid darkblue;
    width: 80%;
    align-self: center;
    border-radius: 5px;
    background-color: white;
    text-align: center;
    grid-template-areas:
    "lb rb";
    grid-template-columns: 4fr 16fr;
    height: 70%;
}

.info{
    grid-area: in;
    border-radius: 5px 0 0 0;
    background-color: #D9D9F1;
    /* border: 1px dashed darkblue;*/
}

.range{
    grid-area: r;

}

.input{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    grid-area: i;

}
.input span{
    width: 80%;
}

.table{
    grid-area: t;

}

.pagination{
    grid-area: p;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-left: 50px;

}
.button {
    grid-area: b;
    border-radius: 0 0 0 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    margin-bottom: 30px;
}
.leftBlock{
    grid-area: lb;
    border-radius: 5px 0 0 5px;
    background-color: #ECECF9;
    display: grid;
    grid-template-areas:
    "in"
    "r"
    "b";
    grid-template-rows: 2fr 2fr 1fr;
}
.rightBlock{
    grid-area: rb;
    display: grid;
    grid-template-areas:
    "i"
    "t"
    "p";
    grid-template-rows: 1fr 6fr 1fr;
    grid-gap: 10px;
}

.logo img {
    width: 96px;
    height: 96px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.flexTable{
    text-align: center;
    display: flex;
    width: 100%;
    flex-direction: column;
    margin: 0 10px;
    box-shadow: 4px 4px 8px 0 rgba(34, 60, 80, 0.2);
}
