.profilePage {
    display: flex;
    position: relative;
    justify-content: center;
    color: #3b4652;
    text-align: center;
    width: 100%;
}

.profileContain {
    display: grid;

    border: 1px solid darkblue;
    width: 80%;
    align-self: center;
    border-radius: 5px;
    background-color: white;
    text-align: center;
    height: 850px;
    grid-template-areas:
    "lb rb";
    grid-template-columns: 4fr 16fr;
    grid-gap: 10px;

}

.info{
    grid-area: in;
    border: 1px dashed darkblue;
}

.range{
    grid-area: r;
    border: 1px dashed darkblue;
}

.input{
    grid-area: i;
    border: 1px dashed darkblue;
}

.table{
    grid-area: t;
    border: 1px dashed darkblue;
}

.pagination{
    grid-area: p;
    border: 1px dashed darkblue;
}
.button {
    grid-area: b;
    border: 1px dashed darkblue;
}
.leftBlock{
    grid-area: lb;

    display: grid;
    grid-template-areas:
    "in"
    "r"
    "b";
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 10px;
}
.rightBlock{
    grid-area: rb;

    display: grid;
    grid-template-areas:
    "i"
    "t"
    "p";
    grid-template-rows: 1fr 8fr 1fr;
    grid-gap: 10px;
}

.logo img {
    width: 96px;
    height: 96px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.flexTable{
    align-text: center;
    display: flex;
    width: 100%;
    flex-direction: column;

}
