.loginPage{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

.isLoading{
    color: blue;
    position: absolute;
    top: 70px;
    left: 50%;
    transform: translate(-50%, 0);
}

.error{
    color: red;
    position: absolute;
    top: 70px;
    left: 50%;
    transform: translate(-50%, 0);
}

.loginPage h1{
    margin-bottom: 40px;
}
