.loginPage{
    display: flex;
    justify-content: center;
    min-height: 80vh;
    color: #3b4652;
    text-align: center;
}
.loginPageContain {
    border: 1px solid darkblue;
    width: 413px;
    height: 540px;
    align-self: center;
    border-radius: 25px;
    background-color: white;
    text-align: center;
}


.isLoading{
    color: blue;
    position: absolute;
    top: 70px;
    left: 50%;
    transform: translate(-50%, 0);
}

.error{
    color: red;
    position: absolute;
    top: 70px;
    left: 50%;
    transform: translate(-50%, 0);
}

.loginPage h1{
    margin-bottom: 40px;
}

.loginContent {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
}
.inputContainer {
    margin-top: 10px;
    margin-bottom: 10px;
}

.remMeFogotContain {
    margin-top: 10px;
    margin-left: 30px;
    margin-right: 30px;
    display: flex;
    justify-content: space-between;
}
.buttonContainer {
    margin-top: 70px;

}